<div class="information">
  <div class="information_mercenary-info">mercenary info</div>
  <div class="information_combat-log">combat log</div>
  <div class="information_enemy-info">enemy</div>
</div>
<div class="interface">
  <app-combat-interface>
    <app-avatar avatar [imgUrl]="imgUrls[0]"></app-avatar>
    <app-avatar avatar [imgUrl]="imgUrls[1]"></app-avatar>
    <app-avatar avatar [imgUrl]="imgUrls[2]"></app-avatar>
    <app-avatar enemy [imgUrl]="imgUrls[3]"></app-avatar>
    <app-avatar enemy [imgUrl]="imgUrls[3]"></app-avatar>
    <app-avatar enemy [imgUrl]="imgUrls[3]"></app-avatar>
  </app-combat-interface>
</div>


