<div class="row-line shift">
  <app-zone-hex [imgUrl]="config.hex0.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex1.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex2.imgUrl"></app-zone-hex>
</div>
<div class="row-line">
  <app-zone-hex [imgUrl]="config.hex3.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex4.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex5.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex6.imgUrl"></app-zone-hex>
</div>
<div class="row-line shift">
  <app-zone-hex [imgUrl]="config.hex7.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex8.imgUrl"></app-zone-hex>
  <app-zone-hex [imgUrl]="config.hex9.imgUrl"></app-zone-hex>
</div>
